[submodule "docker/docker-images"]
	path = docker/docker-images
	url = https://github.com/uvue-git/docker-images.git
[submodule "third_party/rmtrash"]
	path = third_party/rmtrash
	url = https://github.com/PhrozenByte/rmtrash.git
[submodule "third_party/py-vlcclient"]
	path = third_party/py-vlcclient
	url = https://github.com/marcofavorito/py-vlcclient.git
[submodule "ctags/ctags"]
	path = ctags/ctags
	url = https://github.com/universal-ctags/ctags.git
[submodule "kubectl/kubectx.symlink"]
	path = kubectl/kubectx.symlink
	url = https://github.com/ahmetb/kubectx.git
[submodule "third_party/git-latexdiff"]
	path = third_party/git-latexdiff
	url = https://gitlab.com/git-latexdiff/git-latexdiff.git
[submodule "vim.symlink/pack/typescript/start/typescript-vim"]
	path = vim.symlink/pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "misc/cppreference-doc"]
	path = misc/cppreference-doc
	url = https://github.com/PeterFeicht/cppreference-doc
[submodule "vim.symlink/pack/vendor/start/nerdtree"]
	path = vim.symlink/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
