[submodule "vim.symlink/bundle/command-t"]
	path = vim.symlink/bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "vim.symlink/bundle/lightline.vim"]
	path = vim.symlink/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
[submodule "vim.symlink/bundle/nerdcommenter"]
	path = vim.symlink/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/vim-multiple-cursors"]
	path = vim.symlink/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim.symlink/bundle/vim-go"]
	path = vim.symlink/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim.symlink/bundle/YouCompleteMe"]
	path = vim.symlink/bundle/YouCompleteMe
	url = git@github.com:valloric/YouCompleteMe.git
[submodule "vim.symlink/bundle/vim-autoclose"]
	path = vim.symlink/bundle/vim-autoclose
	url = git@github.com:Townk/vim-autoclose.git
[submodule "vim.symlink/bundle/syntastic"]
	path = vim.symlink/bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim.symlink/vim_go_runtime.symlink"]
	path = vim.symlink/vim_go_runtime.symlink
	url = git@github.com:farazdagi/vim-go-ide.git
[submodule "vim.symlink/bundle/vim-gocode"]
	path = vim.symlink/bundle/vim-gocode
	url = https://github.com/Blackrush/vim-gocode.git
