.temp
temp_*
*__pycache__*

*.swp

*.netrwhist

*.mp3
*.mp4
*.part

system/secrets.sh
keybase*.deb

*.log
.vagrant


# this is needed to avoid to disclose the slack API Token.
slack-term/slack-term.symlink/

