.temp
temp_*
*__pycache__*

*.swp

*.netrwhist

*.mp3
*.mp4
*.part

system/secrets.sh
keybase*.deb

*.log
.vagrant


# this is needed to avoid to disclose of secrets.
slack-term/slack-term.symlink/
system/msmtprc.symlink

mutt.symlink/passwords.gpg
mutt.symlink/passwords
mutt.symlink/cache
mutt.symlink/certificates

zcash.symlink/*
!zcash.symlink/install.sh
!zcash.symlink/env.sh
!zcash.symlink/zcash.conf

